@media only screen and (min-width: 1200px) and (max-width: 1440px){

  
   .pic {
    background-color: white;
    width: 300px;
    height: 240px;
   }

   .box img {
    height: 200px;
    width: 300px;
    }

    #highlights {
        margin: 100px 102px;
    }

    #story {
        margin: 100px 64px;
    }

    .wimg img {
        width: 300px;
    }
    .himg img {
        width: 300px;
        height: 400px;
    }


}








 @media only screen and (min-width: 956px) and (max-width: 1200px){

    body{
        border: 1px solid;
    }

    /* navbar */

    #navbar{
        padding: 35px 85px;
    }


    /* home section*/

    #home img {
        height: 434px;
    }

    #home .title {
        font-size: 3.5rem;
    }


    /* highlight section */

    #highlights .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box img {
        height: 496px;
        width: 726px;
    }

    .polaroidtext {
        padding-bottom: 10px;
        font-size: 2rem;
    }

    .pic {
        margin: 20px;
    }


    /* our story section  */

    .box2 img {
        height: 300px;
    }


    /* gallery section */

    #gallary-containter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .images{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }

    .wimg img {
        width: 620px;
    }

    .himg img {
        width: 620px;
        height: 720px;
    }
    
 }











    @media only screen and (min-width: 700px) and (max-width: 956px)
    {

        
    body{
        border: 1px solid;
    }

    /* navbar */

    #navbar {
        padding: 35px 85px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* home section*/

    #home img {
        height: 300px;
    }

    #home .title {
        font-size: 2.5rem;
    }


    /* highlight section */

    #highlights .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box img {
        height: 332px;
        width: 435px;
    }

    .polaroidtext {
        padding-bottom: 10px;
        font-size: 2rem;
    }

    .pic {
        margin: 20px;
    }


    /* our story section  */

    .box2 img {
        height: 300px;
    }

    .box2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #story {
        margin: 100px 73px;
    }




    /* gallery section */

    #gallary-containter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .images{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }

    .wimg img {
        width: 620px;
    }

    .himg img {
        width: 620px;
        height: 720px;
    }
    

    /* utility classes */

    .head{
        font-size: 2.5rem;
    }

 }












 
 @media only screen and (min-width: 500px) and (max-width: 700px)
 {

     
 body{
     border: 1px solid;
 }

 /* navbar */

 #navbar {
     padding: 35px 85px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 #navbar::before{
     height: 28%;
 }

 #logo{
     font-size: 4rem;
 }

 #navbar ul li a {
    text-decoration: none;
    padding: 0px 15px
}

 /* home section*/

 #home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 #home img {
     height: 300px;
     width: 458px;
 }

 #home .title {
     font-size: 1.5rem;
     margin: 0px 20px;
 }

/* about */
#about {
    margin: 48px 57px;
    text-align: center;
}

#para {
    font-size: 1rem;
}




 /* highlight section */

 #highlights {
    margin: 100px 32px;
}

#highlights .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .box img {
     height: 272px;
     width: 406px;
 }

 .polaroidtext {
     padding-bottom: 10px;
     font-size: 1.2rem;
 }

 .pic {
    background-color: white;
    width: 406px;
    margin: 20px;}


 /* our story section  */

 .box2 img {
     height: 208px;
 }

 #para2{
     font-size: 1rem;
 }

 .box2 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 #story {
     margin: 100px 25px;
 }




 /* gallery section */

 #gallary-containter{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .images{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 30px;
 }

 .wimg img {
     width: 371px;
 }

 .himg img {
    width: 371px;
    height: 542px;
 }
 

 /* utility classes */

 .head{
     font-size: 2.5rem;
     text-align: center;
 }

}











@media only screen and (min-width: 280px) and (max-width: 500px)
{

    
body{
    border: 1px solid;
}

/* navbar */

#navbar {
    padding: 35px 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbar::before{
    height: 28%;
}

#logo{
    font-size: 2.1rem;
}

#navbar ul li a {
   text-decoration: none;
   padding: 0px 4px
}

#btn {
    padding: 7px 11px;
}

/* home section*/

#home {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#home img {
    height: 201px;
    width: 256px;
    margin-left: 0px;
}

#home .title {
    font-size: 1.2rem;
    margin: 0px 20px;
}

/* about */
#about {
   margin: 48px 17px;
   text-align: center;
}

#para {
   font-size: 0.9rem;
}




/* highlight section */

#highlights {
   margin: 38px 19px;
}

#highlights .box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.box img {
    height: 180px;
    width: 214px;
}

.polaroidtext {
    padding-bottom: 10px;
    font-size: 1.2rem;
}

.pic {
   background-color: white;
   width: 214px;
   margin: 20px;}


/* our story section  */

.box2 img {
    height: 139px;
}

#para2{
    font-size: 1rem;
}

.box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#story {
    margin: 100px 25px;
}




/* gallery section */

#gallary {
    margin: 63px 9px
}

#gallary-containter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.wimg img {
    width: 218px;
}

.himg img {
    width: 218px;
    height: 368px;
}

.para3{
    text-align: center;
}



/* contact */

#contact {
    margin: 60px 29px;
}

/* utility classes */

.head{
    font-size: 2.1rem;
    text-align: center;
}

}